.hero {
  width: 100%;
  height: 100vh; /* Ocupa a altura total da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0px !important;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* A imagem cobre o espaço sem distorcer */
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* para preencher todo o espaço mantendo proporção */
  z-index: -1; /* para ficar atrás do texto */
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2); /* escurece um pouco a imagem para destacar o texto */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 20px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #ff00a6;
}

.hero-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color:#1900ff ;
}
